.chzn-item-block .select2-choices li {
  float: none !important;
}
.chzn-item-block ul.select2-choices .select2-search-choice {
  margin: 3px !important;
}
div.select2-search input {
  width: 100%;
  box-sizing: content-box;
}
